body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav{
    background: green; 
}
a{
    color:white!important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 12px;
}
